:host{display: flex;}
:host{flex-grow: 1;}
.header{padding: 10px 5px 5px 11px;}

.section{flex-grow: 1;display: flex;flex-direction: column;}

.layers{padding: 3px 10px;display: flex;flex-direction: column;flex-grow: 1;height: 100px;}

.page-item{user-select: none;border-radius: 4px;display: flex;align-items: center;justify-content: space-between;flex-wrap:wrap;padding: 2px 0px 2px 6px;height:30px;}
.page-item:hover{background-color: #f5f5f5;}
.page-item .arrow-button::part(svg){width:18px;}
.page-item.show .arrow-button{rotate:90deg;}
.page-layers{display: none;}
.page-item.show + .page-layers{display: flex;}
.page-name{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;width: 100px;flex-grow: 1;}

.page-layers{flex-direction: column;}
.layer-items{width: 100%;padding: 0px 2px 0px 12px;user-select: none;}
.layer-item{padding: 2px 6px 2px 0px; border-radius: 7px;display: flex;align-items: center;height: 30px;translate: 8px 0;}
.layer-item .arrow-button{opacity:0;pointer-events: none;}
.layer-item[data-children="true"] .arrow-button{opacity: 1;pointer-events: auto;}
.layer-item .arrow-button::part(svg){width:13px;}
.layer-icon::part(svg){width:14px;}
.layer-item:hover, .layer-item.active{background-color: #f5f5f5;}
.layer-name{flex-grow: 1;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;width: 100px;font-size: 11px;}

.layer-item .mask-image{mask-size: 14px auto;display: none;}
.layer-item:hover .mask-image{display: flex;}
.layer-item:has([data-visiblity="hidden"]) .mask-image{display: flex;}
.layer-item:has([data-lock="none"]) .mask-image{display: flex;}
[data-visiblity="visible"]{mask-image: url(/assets/images/eye.svg);}
[data-visiblity="hidden"]{mask-image: url(/assets/images/eye-off.svg);}
[data-lock="auto"]{mask-image: url(/assets/images/unlock.svg);}
[data-lock="none"]{mask-image: url(/assets/images/lock.svg);}


